.details {
    background-color: #f7e2e2bb;
    margin: 0.8rem 0.3rem 0.3rem 0;
    border: 1px solid black;
    box-shadow: $shadow;
    position: relative;
    font-family: $mono;
    font-weight: 200;
    @include tablet_min_width() {
        min-height: 35vh;
    }
}

.details__links {
    text-align: center;
    position: absolute;
    bottom: 0;
    padding-left: 0.5rem;    
    font-size: 0.7rem;
    word-spacing: -2px;
    letter-spacing: -0.6px;
    @include tablet_min_width() {
        font-size: 0.9rem;
        padding-left: 1rem;
    }
}

.details_description {
    padding: 0rem 0.5rem;
    font-size: 0.8rem;
    @include tablet_min_width() {
        font-size: 1rem;
        padding: 0rem 1rem;
    }
}

.details__title {
    margin: 0.5rem 0 -0.7rem 0.5rem;
    font-weight: 500;
    font-size: 0.9rem;
    @include tablet_min_width() {
        font-size: 1.2rem;
        padding-top: 0.5rem;
        padding-left: 0.5rem;
    }
}