@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');

$annie: 'Annie Use Your Telescope', cursive;

.page {
    box-sizing: border-box;
    margin: 0;
    padding: 0 0.5rem;
    height: 100vh;
    font-family: $annie;
    background-color: #EAEAEA;
}

.map {
    height: 50vh;
}
  
.header__title {
    margin: 0.5rem auto;
    font-weight: 400;
    font-size: 2.3rem;
}

.info-buttons {
    & > * {
        width: 50%;
        border: 1px solid red;
    }
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.buttons {
    display: flex;
    flex-direction: column;
}

.buttons__btn {
    margin: 0.5rem -0.2rem 0.3rem 0.5rem;
    padding: 0;
    font-family: $annie;
    font-size: 1.5rem;
    border: 1px solid black;
    cursor: pointer;
    box-shadow:
        0.2px 0.2px 1.1px rgba(0, 0, 0, 0.04),
        2.2px 2.2px 3.6px rgba(0, 0, 0, 0.06),
        10px 10px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.4s;
    &:hover {
        box-shadow: -3px -3px 0px 0px black;
        transform: translate(2px, 2px);
  }
}