$annie: 'Annie Use Your Telescope', cursive;
$mono: 'Roboto Mono', monospace;
$shadow: 0.2px 0.2px 1.1px rgba(0, 0, 0, 0.04),
2.2px 2.2px 1.1px rgba(0, 0, 0, 0.06),
5px 5px 5px rgba(0, 0, 0, 0.1);