body {
    background-color: #f1f1f1;
    
}

.page {
    box-sizing: border-box;
    margin: 0;
    padding: 0 0.5rem;
    font-family: $annie;
    @include landscape_mode() {
        margin: 0rem 10% 2rem 10%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        grid-template-areas:
            "header header"
            "info map"
    }
}

.info-buttons {
    grid-area: info;
    & > * {
        width: 50%;
    }
    display: flex;
    width: 100%;
    justify-content: space-between;
    @include landscape_mode() {
        flex-direction: column;
        justify-content: flex-start !important;
        .details {
            margin-top: 0;
            min-width: 100%;
        }
        .buttons {
            margin-left: -0.4rem;
            min-width: 100%;
        }
    }
    @include tablet_min_width() {
        font-size: 1.3rem;
    }
}
